.list-container {
    display: flex;
    align-items: center;}
.list-container .form-container {width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;}
.list-container .titulos {margin-bottom: 0px;
    font-weight: bold;}
.list-container .subtitulos {margin-top: 10px;
    margin-bottom: 0;}
.list-container .centrado {width: 60%;
    display: flex;
    flex-direction: column;}
.list-container .label {font-weight: bold;
    margin-bottom: 4px;
    margin-top: 12px;}
.form-control {padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;}
.btn {display: block;
    width: auto;
    margin: 22px 12px 0 12px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    background: linear-gradient(90deg, #36f074, #40c4ec);
    border: none;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;}